body {
    background-color: rgb(129, 127, 127);
    font:normal 15pt Arial;
}


main {
    max-width: 500px;
    margin: auto;
    padding: 0 15px;
}

header {
    color: rgb(255, 255, 255);
    border-left: 5px solid white;
    margin: auto;
    padding-left: 8px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto    ;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.281);
}

.txtano{
    width: 50px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: rgb(97, 96, 96);
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(170, 170, 170);
    color: rgb(5, 5, 5);
    transition: 0.3s;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}