body {
    background-color: rgb(164, 134, 255);
    font:normal 15pt Arial;
    
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto    ;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.281);
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}