/* GERAL*/

*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
    
}

ul {
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover{
    color: #37a1f7;
}

/*NAV BAR*/

#navbar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links {
    display: flex;
    gap: 2rem;
}

.container {
    display:flex;
    padding: 2rem 2.5rem;
    gap: 3rem;    
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container {
    flex: 3 1 0; /* flex-grow | flex-shrink | flex-basis */
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
}

.title, 
.descripton, 
.author {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
}

.author {
    color: #333;
    font-weight: bold;
}

/*SIDEBAR*/

#sidebar {
    flex: 1 1 0; /* flex-grow | flex-shrink | flex-basis */
}

#search-bar,
#categories,
#tags {
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#search-bar h4,
#categories h4,
#tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form {
    display: flex;
}

#search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
}

#search-bar [type="submit"] {
    cursor: pointer;
    background-color: #37a1f7;
    color:#fff;
    border: none;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a{
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

#footer{
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p {
    margin-bottom: 1rem;
}

/*RESPONSIVO*/
@media(max-width: 450px) {
    .container {
        flex-wrap: wrap;
    }
}

